<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32309">
		<setting type="lsep" label="40058" />
		<setting id="realdebrid.token" label="40079" type="text" default="" visible="false" />
		<setting id="realdebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="realdebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccts, action=realdebridAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=realdebridAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=realdebridRevoke)" visible="!eq(-5,)" />
		<setting id="realdebrid.client_id" label="realdebrid client_id" type="text" default="" visible="false" />
		<setting id="realdebrid.refresh" label="realdebrid refresh" type = "text" default="" visible="false" />
		<setting id="realdebrid.secret" label="realdebrid secret" type = "text" default="" visible="false" />

		<setting type="lsep" label="40057" />
		<setting id="premiumize.token" label="40078" type="text" default="" visible="false" />
		<setting id="premiumize.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="premiumize.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccts, action=premiumizeAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=premiumizeAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=premiumizeRevoke)" visible="!eq(-5,)" />

		<setting type="lsep" label="40059" />
		<setting id="alldebrid.token" label="40077" type="text" default="" visible="false" />
		<setting id="alldebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="alldebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" action="RunScript(script.module.myaccts, action=alldebridAcct)" visible="!eq(-3,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.myaccts, action=alldebridAuth)" visible="eq(-4,)" />
		<setting type="action" label="32317" option="close" action="RunScript(script.module.myaccts, action=alldebridRevoke)" visible="!eq(-5,)" />

		<setting id="realdebrid.notification.range" type="text" visible="false" label="" default="" />
		<setting id="premiumize.notification.range" type="text" visible="false" label="" default="" />
		<setting id="alldebrid.notification.range" type="text" visible="false" label="" default="" />
	</category>
	<category label="Manage Data">
		<setting type="lsep" label="Manage Your Debrid Accounts" />
		<setting type="action" label="View Your Debrid Data" option="close" action="ActivateWindow(10001,plugin://script.module.myauth/?mode=realdebrid,return)" visible="true" />
		<setting type="action" label="Revoke All Debrid Data" option="close" action="PlayMedia(plugin://script.module.myauth/?mode=addondebrid&name=all)" visible="true" />
		<setting type="lsep" label="Re-Sync Your Debrid Data" />
		<setting id="realdebrid.token" label="40079" type="text" default="" visible="false" />
		<setting id="realdebrid.username" label="Real-Debrid Account Active" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting type="action" label="Re-sync real-debrid data with all add-ons" option="close" action="RunScript(script.module.myaccts, action=realdebridSync)"  visible="!eq(-2,)" />
		<setting id="premiumize.token" label="40078" type="text" default="" visible="false" />
		<setting id="premiumize.username" label="Premiumize Account Active" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting type="action" label="Re-sync premiumize data with all add-ons" option="close" action="RunScript(script.module.myaccts, action=premiumizeSync)"  visible="!eq(-2,)" />
		<setting id="alldebrid.token" label="40077" type="text" default="" visible="false" />
		<setting id="alldebrid.username" label="All-Debrid Account Active" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting type="action" label="Re-Sync all-debrid data with all add-ons" option="close" action="RunScript(script.module.myaccts, action=alldebridSync)"  visible="!eq(-2,)" />
	</category>
</settings>
