<settings version="2">
    <setting id="theme" default="true">0</setting>
    <setting id="num_p">1</setting>
    <setting id="order_networks" default="true">0</setting>
    <setting id="dp">true</setting>
    <setting id="size_limit">100</setting>
    <setting id="save_time">72</setting>
    <setting id="better_look">true</setting>
    <setting id="show_collection">true</setting>
    <setting id="display_lock" default="true">false</setting>
    <setting id="adults">true</setting>
    <setting id="rd.auth" default="true" />
    <setting id="rd.refresh" default="true" />
    <setting id="rd.client_id" default="true" />
    <setting id="rd.expiry" default="true">0</setting>
    <setting id="rd.secret" default="true" />
    <setting id="ghaddr" default="true" />
    <setting id="premiumize.token" default="true" />
    <setting id="alldebrid.token" default="true" />
    <setting id="alldebrid.username" default="true" />
    <setting id="s_traker_style" default="true">false</setting>
    <setting id="show_over" default="true">false</setting>
    <setting id="time_to_save">75</setting>
    <setting id="trakt_access_token" default="true" />
    <setting id="trakt_refresh_token" default="true" />
    <setting id="trakt_expires_at" default="true" />
    <setting id="garbage" default="true" />
    <setting id="max_q">2</setting>
    <setting id="min_q" default="true">0</setting>
    <setting id="encoding_filter" default="true">false</setting>
    <setting id="3d" default="true">false</setting>
    <setting id="hdvc">true</setting>
    <setting id="low_q" default="true">false</setting>
    <setting id="garbage2" default="true" />
    <setting id="max_q_tv">2</setting>
    <setting id="min_q_tv" default="true">0</setting>
    <setting id="encoding_filter_tv" default="true">false</setting>
    <setting id="3d_tv" default="true">false</setting>
    <setting id="hdvc_tv">true</setting>
    <setting id="low_q_tv" default="true">false</setting>
    <setting id="filter_non_e">true</setting>
    <setting id="debrid_use">true</setting>
    <setting id="debrid_select" default="true">0</setting>
    <setting id="premiumize.addToCloud" default="true">false</setting>
    <setting id="premiumize.transcoded" default="true">false</setting>
    <setting id="nextup_episode">true</setting>
    <setting id="play_nextup_wait" default="true">false</setting>
    <setting id="window">30</setting>
    <setting id="before_end2">3</setting>
    <setting id="nextup_movie">true</setting>
    <setting id="movie_window">300</setting>
    <setting id="cast">true</setting>
    <setting id="s3d_scrape">true</setting>
    <setting id="play_trailer">true</setting>
    <setting id="settings_content">true</setting>
    <setting id="queue_item">true</setting>
    <setting id="trakt_manager">true</setting>
    <setting id="trakt_watched">true</setting>
    <setting id="trakt_unwatched">true</setting>
    <setting id="openinfo">true</setting>
    <setting id="remove_resume_time">true</setting>
    <setting id="browse_series">true</setting>
    <setting id="remove_resume_point">true</setting>
    <setting id="clear_Cache">true</setting>
    <setting id="set_view_type">true</setting>
    <setting id="Release_Date_item">true</setting>
    <setting id="one_click" default="true">false</setting>
    <setting id="max_quality">3</setting>
    <setting id="min_quality">2</setting>
    <setting id="one_click_tv" default="true">false</setting>
    <setting id="max_quality_tv">3</setting>
    <setting id="min_quality_tv">2</setting>
    <setting id="time_s">15</setting>
    <setting id="fav_movie" default="true" />
    <setting id="1337x" default="true">false</setting>
    <setting id="ApiBay">true</setting>
    <setting id="Bitlord">true</setting>
    <setting id="BitSearch">true</setting>
    <setting id="DebridM">true</setting>
    <setting id="EasyNews" default="true">false</setting>
    <setting id="Eztv">true</setting>
    <setting id="Furk" default="true">false</setting>
    <setting id="GloTorrents">true</setting>
    <setting id="KickAss">true</setting>
    <setting id="MagnetDL">true</setting>
    <setting id="PBayPlus">true</setting>
    <setting id="SolidTorrent">true</setting>
    <setting id="ThePirateBay">true</setting>
    <setting id="Torrentio">true</setting>
    <setting id="Torzz">true</setting>
    <setting id="Yts" default="true">false</setting>
    <setting id="fav_tv" default="true" />
    <setting id="1337x_tv" default="true">false</setting>
    <setting id="ApiBay_tv">true</setting>
    <setting id="Bitlord_tv" default="true">false</setting>
    <setting id="BitSearch_tv">true</setting>
    <setting id="DebridM_tv" default="true">false</setting>
    <setting id="Easynews_tv" default="true">false</setting>
    <setting id="Eztv_tv">true</setting>
    <setting id="Furk_tv" default="true">false</setting>
    <setting id="GloTorrents_tv">true</setting>
    <setting id="KickAss_tv" default="true">false</setting>
    <setting id="MagnetDL_tv">true</setting>
    <setting id="PBayPlus_tv">true</setting>
    <setting id="SolidTorrent_tv">true</setting>
    <setting id="ThePirateBay_tv">true</setting>
    <setting id="Torrentio_tv">true</setting>
    <setting id="Torzz_tv">true</setting>
    <setting id="Yts_tv" default="true">false</setting>
    <setting id="provider.furk" default="true">false</setting>
    <setting id="furk_login" default="true" />
    <setting id="furk_password" default="true" />
    <setting id="furk_api_key" default="true" />
    <setting id="furk.mod.level" default="true">No</setting>
    <setting id="provider.easy" default="true">false</setting>
    <setting id="easynews.user" default="true" />
    <setting id="easynews.password" default="true" />
    <setting id="easynews_moderation">true</setting>
    <setting id="po_watch" default="true">false</setting>
    <setting id="simple_info" default="true">false</setting>
    <setting id="trakt_info">true</setting>
    <setting id="new_play_window">true</setting>
    <setting id="clean_video_title" default="true">false</setting>
    <setting id="fancy_scrape" default="true">false</setting>
    <setting id="eye_candy_style">1</setting>
    <setting id="video_in_sources_tv" default="true">false</setting>
    <setting id="video_in_sources" default="true">false</setting>
    <setting id="video_in_s_wait" default="true">false</setting>
    <setting id="video_type_in_s">1</setting>
    <setting id="fanart_scraping">true</setting>
    <setting id="sources_window_n">1</setting>
    <setting id="fanart_sources">true</setting>
    <setting id="add_colors" default="true">false</setting>
    <setting id="show_actors" default="true">false</setting>
    <setting id="movie_world">true</setting>
    <setting id="tv_world">true</setting>
    <setting id="trakt_world">true</setting>
    <setting id="trakt">true</setting>
    <setting id="search">true</setting>
    <setting id="search_history" default="true">false</setting>
    <setting id="last_link_played" default="true">false</setting>
    <setting id="whats_new" default="true">false</setting>
    <setting id="resume_watching" default="true">false</setting>
    <setting id="my_rd_history" default="true">false</setting>
    <setting id="rd_Torrents" default="true">false</setting>
    <setting id="actor">true</setting>
    <setting id="s_traker">true</setting>
    <setting id="settings">true</setting>
    <setting id="debug" default="true">false</setting>
    <setting id="show_debug" default="true">false</setting>
    <setting id="check_time" default="true">false</setting>
    <setting id="stop_where" default="true">0</setting>
    <setting id="unfilter_test" default="true" />
    <setting id="one_by_one" default="true">false</setting>
    <setting id="full_db" default="true">false</setting>
    <setting id="subtitles" default="true">false</setting>
    <setting id="subtitles.utf" default="true">false</setting>
    <setting id="subtitles.lang.1" default="true">English</setting>
    <setting id="subtitles.lang.2" default="true">English</setting>
    <setting id="auto_subtitles">true</setting>
    <setting id="subs_window">30</setting>
    <setting id="subs_width">400</setting>
    <setting id="subs_hight">700</setting>
    <setting id="subs_px">10</setting>
    <setting id="subs_py">10</setting>
    <setting id="imdb_user_0" default="true" />
    <setting id="imdb_user_1" default="true" />
    <setting id="imdb_user_2" default="true" />
    <setting id="imdb_user_3" default="true" />
    <setting id="imdb_user_4" default="true" />
    <setting id="imdb_user_5" default="true" />
    <setting id="imdb_user_6" default="true" />
    <setting id="imdb_user_7" default="true" />
    <setting id="imdb_user_8" default="true" />
    <setting id="imdb_user_9" default="true" />
</settings>
