<settings version="2">
    <setting id="language_code" default="true">en</setting>
    <setting id="country_code" default="true">US</setting>
    <setting id="tmdb_api_key" default="true">fc168650632c6597038cf7072a7c20da</setting>
    <setting id="omdb_api_key" default="true" />
    <setting id="trakt_api_key" default="true">db17981042166c60e1642c483f5be54b12ec86e3401cd67c2514fdf6843a110f</setting>
    <setting id="filter_shows">true</setting>
    <setting id="filter_movies" default="true">false</setting>
    <setting id="similar_movies_filter" default="true">false</setting>
    <setting id="filter_upcoming" default="true">false</setting>
    <setting id="filter_daydelta">180</setting>
    <setting id="cache_enabled">true</setting>
</settings>
