<?xml version="1.0" encoding="UTF-8"?>
<window>
    <include>Action_BlurImage_SimpleBackground_Onload</include>
    <defaultcontrol>99995</defaultcontrol>
    <controls>
        <include content="Background_Main">
            <param name="plain_background">true</param>
        </include>
        <include content="Background_Transition">
            <param name="windowopen_condition">!$EXP[Exp_SettingsDialogs_Prev]</param>
            <param name="windowclose_condition">!$EXP[Exp_SettingsDialogs_Next]</param>
        </include>
        <include>Settings_Landing</include>
    </controls>
</window>
