<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="الحسابات">
		<setting type="lsep" label="40058" />
		<setting id="realdebrid.token" label="40079" type="text" default="" visible="false" />
		<setting id="realdebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="realdebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.accountmgr, action=realdebridAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.accountmgr, action=realdebridAuth)" visible="eq(-4,)" />
		<setting id="realdebrid.client_id" label="realdebrid client_id" type="text" default="" visible="false" />
		<setting id="realdebrid.refresh" label="realdebrid refresh" type = "text" default="" visible="false" />
		<setting id="realdebrid.secret" label="realdebrid secret" type = "text" default="" visible="false" />

		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize.token" label="40078" type="text" default="" visible="false" />
		<setting id="premiumize.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="premiumize.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.accountmgr, action=premiumizeAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.accountmgr, action=premiumizeAuth)" visible="eq(-4,)" />

		<setting type="lsep" label="All-Debrid" />
		<setting id="alldebrid.token" label="40077" type="text" default="" visible="false" />
		<setting id="alldebrid.username" label="32318" type="text" default="" visible="!eq(-1,)" enable="false" />
		<setting id="alldebrid.expiry.notice" type="bool" label="40086" default="true" visible="!eq(-2,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.accountmgr, action=alldebridAcct)" visible="!eq(-2,)" />
		<setting type="action" label="32319" option="close" action="RunScript(script.module.accountmgr, action=alldebridAuth)" visible="eq(-4,)" />

		<setting type="lsep" label="Trakt" />
		<setting id="trakt.token" type="text" visible="false" label="" default="" />
		<setting id="trakt.refresh" type="text" visible="false" label="" default="" />
		<setting id="trakt.expires" type="text" visible="false" label="" default="" />
		<setting id="devuserkey.enabled" type="bool" visible="false" label="" default="false" />
		<setting id="traktuserkey.enabled" type="bool" visible="false" label="40090" default="true" />
		<setting id="trakt.client.id" type="text" visible="false" label="40089" default="20fdc5f7364aad2c6d0491652bffc16e2eb7be35b9572478049d54d9824cc4d0" />
		<setting id="trakt.client.secret" type="text" visible="false" label="40088" default="3bd196ae0ce16d553d17cf5e3535ba3e65215cf8b5975a8dd9f2969ff0cd4592" />
		<setting type="action" label="إجراء المصادقة" option="close" action="RunScript(script.module.accountmgr, action=traktAuth)" visible="eq(-6,)" />
		<setting id="trakt.username" type="text" default="" label="40062" enable="false" visible="!eq(-7,)" />
		<setting type="action" label="32316" option="close" action="RunScript(script.module.accountmgr, action=traktAcct)" visible="!eq(-1,)" />

		<setting type="lsep" label="Furk/Easynews/FilePursuit" />
		<setting id="non.enabled" type="bool" visible="true" label="تمكين" default="false" />
		<setting type="action" label="المزامنة مع جميع الاضافات" option="close" action="RunScript(script.module.accountmgr, action=SyncAll)"  visible="eq(-1,true)" />
		<setting label="32311" type="action" action="RunScript(script.module.accountmgr, action=ShowHelpNonDebrid)" visible="eq(-2,true)" />
		<setting type="lsep"/>
		<setting id="furk.username" type="text" label="اسم المستخدم لـFurk" default="" visible="eq(-4,true)"/>
		<setting id="furk.password" type="text" label="كلمة المرور لـFurk" option="hidden" default="" visible="eq(-5,true)" />
		<setting id="furk.api.key" type="text" label="مفتاح الـAPI لـFurk" default="" visible="eq(-6,true)" />
		<setting id="easynews.username" type="text" label="اسم المستخدم لـEasynews" default="" visible="eq(-7,true)" />
		<setting id="easynews.password" type="text" label="كلمة المرور لـEasynews" option="hidden" default="" visible="eq(-8,true)" />
		<setting id="filepursuit.api.key" type="text" label="مفتاح الـAPI لـFilePursuit" default="" visible="eq(-9,true)" />

		<setting type="lsep" label="خدمات البيانات التعريفية" />
		<setting id="meta.enabled" type="bool" visible="true" label="تمكين" default="false" />
		<setting type="action" label="المزامنة مع جميع الاضافات" option="close" action="RunScript(script.module.accountmgr, action=metaReSync)"  visible="eq(-1,true)" />
		<setting label="32311" type="action" action="RunScript(script.module.accountmgr, action=ShowHelpMeta)" visible="eq(-2,true)" />
		<setting type="lsep"/>
		<setting id="fanart.tv.api.key" type="text" label="مفتاح الـAPI لـFanart.TV" default="" visible="eq(-4,true)"/>
		<setting id="omdb.api.key" type="text" label="مفتاح الـAPI لـOMDb" default="" visible="eq(-5,true)" />
		<setting id="mdb.api.key" type="text" label="مفتاح الـAPI لـMDblist" default="" visible="eq(-6,true)" />
		<setting id="imdb.user" type="text" label="IMDb User" default="" visible="eq(-7,true)" />
		<setting id="tvdb.api.key" type="text" label="مفتاح الـAPI لـTVDb" default="" visible="eq(-8,true)" />
		<setting id="tmdb.api.key" type="text" label="40072" default="" visible="eq(-9,true)" />
		<setting type="sep"/>
		<setting id="tmdb.username" type="text" label="40060" default="" visible="eq(-11,true)" />
		<setting id="tmdb.password" type="text" label="40061" option="hidden" default="" visible="eq(-12,true)" />
		<setting label="40091" type="action" action="RunScript(script.module.accountmgr, action=ShowHelpTMDb)" visible="eq(-13,true)" />
		<setting id="tmdb.session_id" type="text" default="" label="session_id" enable="false" visible="eq(-14,true)" />
		<setting type="action" label="32312" option="close" action="RunScript(script.module.accountmgr, action=tmdbAuth, opensettings=true)" visible="eq(-15,true)" />
		<setting type="action" label="32321" option="close" action="RunScript(script.module.accountmgr, action=tmdbRevoke, opensettings=true)" visible="eq(-16,true)" />
	</category>
	<category label="إدارة الحسابات">
		<setting type="sep"/>
		<setting type="lsep" label="إدارة حسابات Debrid متعددة" />
		<setting id="debridall.enabled" type="bool" visible="true" label="تمكين" default="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=allaccts,return)" visible="eq(-1,true)" />
		<setting type="action" label="إعادة تفعيل جميع حسابات Debrid" option="close" action="RunScript(script.module.accountmgr, action=ReSyncAll)" visible="eq(-2,true)" />
		<setting type="action" label="إزالة جميع حسابات Debrid" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=revokeall&name=all)" visible="eq(-3,true)" />

		<setting type="lsep" label="Real-Debrid" />
		<setting id="realdebrid.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=realdebrid,return)" visible="!eq(-1,)" />
		<setting type="action" label="إعادة تفعيل جميع حسابات Real-Debrid" option="close" action="RunScript(script.module.accountmgr, action=realdebridReSync, opensettings=true)"  visible="!eq(-2,)" />
		<setting type="action" label="إزالة جميع حسابات Real-Debrid" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addondebrid_rd&name=all)"  visible="!eq(-3,)" />

		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=premiumize,return)" visible="!eq(-1,)" />
		<setting type="action" label="إعادة تفعيل جميع حسابات Premiumize" option="close" action="RunScript(script.module.accountmgr, action=premiumizeReSync, opensettings=true)"  visible="!eq(-2,)" />
		<setting type="action" label="إزالة جميع حسابات Premiumize" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addondebrid_pm&name=all)"  visible="!eq(-3,)" />
	
		<setting type="lsep" label="All-Debrid" />
		<setting id="alldebrid.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=alldebrid,return)" visible="!eq(-1,)" />
		<setting type="action" label="إعادة تفعيل جميع حسابات All-Debrid" option="close" action="RunScript(script.module.accountmgr, action=alldebridReSync, opensettings=true)"  visible="!eq(-2,)" />
		<setting type="action" label="إزالة جميع حسابات All-Debrid" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addondebrid_ad&name=all)"  visible="!eq(-3,)" />

		<setting type="lsep" label="Trakt" />
		<setting id="trakt.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=trakt,return)" visible="!eq(-1,)" />
		<setting type="action" label="إعادة تفعيل جميع حسابات Trakt" option="close" action="RunScript(script.module.accountmgr, action=traktReSync, opensettings=true)" visible="!eq(-2,)" />
		<setting type="action" label="إزالة جميع حسابات Trakt" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addontrakt&name=all)" visible="!eq(-3,)" />

		<setting type="lsep" label="Furk/Easynews/FilePursuit" />
		<setting id="non.enabled" type="bool" visible="false" label="" default="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=nondebrid,return)" visible="eq(-1,true)" />
		<setting type="action" label="إعادة تفعيل جميع الحسابات" option="close" action="RunScript(script.module.accountmgr, action=SyncAll)"  visible="eq(-2,true)" />
		<setting type="action" label="إزالة جميع الحسابات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addon_non&name=all)"  visible="eq(-3,true)" />

		<setting type="lsep" label="خدمات البيانات التعريفية" />
		<setting id="meta.enabled" type="bool" visible="false" label="" default="false" />
		<setting type="action" label="استعراض الإضافات المفعلة" option="close" action="ActivateWindow(10001,plugin://script.module.acctview/?mode=metadata,return)" visible="eq(-1,true)" />
		<setting type="action" label="إعادة تفعيل جميع الحسابات" option="close" action="RunScript(script.module.accountmgr, action=metaReSync, opensettings=true)"  visible="eq(-2,true)" />
		<setting type="action" label="إزالة جميع الحسابات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=addonmeta&name=all)"  visible="eq(-3,true)" />
	</category>
	<category label="النسخ الاحتياطية والاستعادة">
                <setting type="lsep" label="النسخ الاحتياطي والاستعادة حسابات Debrid متعددة" visible="eq(1,true)" />
		<setting id="debridall.enabled" type="bool" visible="true" label="تمكين" default="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=backupall&name=all)" visible="eq(-1,true)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoreall&name=all)" visible="eq(-2,true)" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=clearall&name=all)" visible="eq(-3,true)" />

		<setting type="lsep" label="Real-Debrid" />
		<setting id="realdebrid.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=savedebrid_acctmgr_rd&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoredebrid_rd&name=all)"  visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=cleardebrid_rd&name=all)" visible="true" />

		<setting type="lsep" label="Premiumize" />
		<setting id="premiumize.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=savedebrid_acctmgr_pm&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoredebrid_pm&name=all)"  visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=cleardebrid_pm&name=all)"  visible="true" />

		<setting type="lsep" label="All-Debrid" />
		<setting id="alldebrid.username" label="" type="text" default="" visible="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=savedebrid_acctmgr_ad&name=all)"  visible="!eq(-1,)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoredebrid_ad&name=all)"  visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=cleardebrid_ad&name=all)"  visible="true" />

		<setting type="lsep" label="Trakt" />
		<setting id="trakt.username" label="" type="text" default="" visible="false" enable="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=savetrakt_acctmgr&name=all)" visible="!eq(-1,)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoretrakt&name=all)" visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=cleartrakt&name=all)" visible="true" />

		<setting type="lsep" label="Furk/Easynews/FilePursuit" />
		<setting id="non.enabled" type="bool" visible="false" label="" default="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=save_non_acctmgr&name=all)"  visible="eq(-1,true)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restore_non&name=all)"  visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=clear_non&name=all)"  visible="true" />

		<setting type="lsep" label="خدمات البيانات التعريفية" />
		<setting id="meta.enabled" type="bool" visible="false" label="" default="false" />
		<setting type="action" label="أخذ نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=savemeta_acctmgr&name=all)"  visible="eq(-1,true)" />
		<setting type="action" label="إستعادة نسخة احتياطية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=restoremeta&name=all)"  visible="true" />
		<setting type="action" label="مسح البيانات" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=clearmeta&name=all)"  visible="true" />
	</category>
	<category label="تكوين النسخ الاحتياطية">
		<setting id="backupenable" type="bool" label="تفعيل النسخ الاحتياطي التلقائي" default="false" />
		<setting label="40105" type="text" />
		<setting type="lsep" label="تكوين مسار النسخ الاحتياطية" />
		<setting type="action" label="اختيار مسار مخصص" option="close" action="RunScript(script.module.accountmgr, action=SetBackupFolder)" />
		<setting type="action" label="استعادة المسار الافتراضي" option="close" action="RunScript(script.module.accountmgr, action=ResetBackupFolder)" />
		<setting type="lsep" label="مسار النسخ الاحتياطية" />
        	<setting id="backupfolder" type="text" label="-" default="special://userdata/addon_data/script.module.accountmgr/" visible="true" />
	</category>
	<category label="متقدم">
		<setting type="lsep" label="خدمات بدء التشغيل" />
		<setting id="checkAddonUpdates" type="bool" visible="false" label="Update Notification Service" default="false" />
		<setting label="40092" type="text" visible="false" />
      	<setting id="trakt.service" type="bool" visible="false" label="" default="" />
      	<setting id="sync.service"  type="bool" label="خدمة المزامنة التلقائية لـTrakt و Debrid" default="true"/>
		<setting label="40094" type="text" />
      	<setting id="sync.nondebrid.service"  type="bool" label="خدمة المزامنة التلقائية لـFurk/Easynews/FilePursuit" default="false"/>
		<setting label="40094" type="text" />
      	<setting id="sync.metaservice" type="bool" label="خدمة المزامنة التلقائية لـ البيانات التعريفية" default="false"/>
		<setting label="40094" type="text" />
		<setting type="lsep" visible="false" label="Persistent Trakt Keys For Builders" />
		<setting id="traktuserkey.enabled" type="bool" visible="false" label="" default="true" />
		<setting id="devuserkey.enabled" type="bool" visible="eq(-1,false)" label="40107" default="false" />
		<setting id="dev.client.id" type="text" option="hidden" visible="eq(-1,true)" label="40089" default="" />
		<setting id="dev.client.secret" type="text" option="hidden" visible="eq(-2,true)" label="40088" default="" />
        <setting label="40108" type="action" action="RunScript(script.module.accountmgr, action=ShowHelpCustom)" visible="true" />
		<setting type="lsep" label="إستعادة كل الاضافات الى الوضع الافتراضي" />
		<setting type="action" label="إعادة تعيين الى الاعدادات الافتراضية" option="close" action="PlayMedia(plugin://script.module.acctview/?mode=wipeclean&name=all)" visible="true" />
        <setting label="40097" type="action" action="RunScript(script.module.accountmgr, action=ShowHelpRestore)" visible="true" />
	</category>
	<category label="المعلومات">
		<setting type="lsep" label="الاضافات المدعومة" />
		<setting label="40099" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_Debrid)" />
		<setting label="40098" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_Trakt)" />
		<setting label="40103" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_Meta)" />
		<setting label="40100" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_Furk)" />
		<setting label="40101" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_Easy)" />
		<setting label="40102" type="action" action="RunScript(script.module.accountmgr, action=ShowSupported_File)" />
		<setting type="lsep" label="سجل التغييرات" />
		<setting label="40104" type="action" action="RunScript(script.module.accountmgr, action=ShowChangelog)" />
	</category>

</settings>
