<settings version="2">
    <setting id="allow_universal">true</setting>
    <setting id="allow_popups">true</setting>
    <setting id="auto_pick">true</setting>
    <setting id="use_cache">true</setting>
    <setting id="reset_cache" default="true" />
    <setting id="personal_nid" default="true" />
    <setting id="last_ua_create" default="true">0</setting>
    <setting id="current_ua" default="true" />
    <setting id="addon_debug" default="true">false</setting>
    <setting id="clean_settings" default="true" />
    <setting id="AllDebridResolver_priority">100</setting>
    <setting id="AllDebridResolver_enabled">true</setting>
    <setting id="AllDebridResolver_login">true</setting>
    <setting id="AllDebridResolver_torrents">true</setting>
    <setting id="AllDebridResolver_cached_only" default="true">false</setting>
    <setting id="AllDebridResolver_auth" default="true" />
    <setting id="AllDebridResolver_reset" default="true" />
    <setting id="AllDebridResolver_token" default="true" />
    <setting id="BoxbitResolver_priority">100</setting>
    <setting id="BoxbitResolver_enabled">true</setting>
    <setting id="BoxbitResolver_login" default="true">false</setting>
    <setting id="BoxbitResolver_email" default="true" />
    <setting id="BoxbitResolver_password" default="true" />
    <setting id="BoxbitResolver_token" default="true" />
    <setting id="BoxbitResolver_uuid" default="true" />
    <setting id="BoxbitResolver_time_expired" default="true" />
    <setting id="DebridLinkResolver_priority">100</setting>
    <setting id="DebridLinkResolver_enabled">true</setting>
    <setting id="DebridLinkResolver_login">true</setting>
    <setting id="DebridLinkResolver_torrents">true</setting>
    <setting id="DebridLinkResolver_cached_only" default="true">false</setting>
    <setting id="DebridLinkResolver_auth" default="true" />
    <setting id="DebridLinkResolver_reset" default="true" />
    <setting id="DebridLinkResolver_token" default="true" />
    <setting id="DebridLinkResolver_refresh" default="true" />
    <setting id="DebridLinkResolver_client_id" default="true" />
    <setting id="LinkSnappyResolver_priority">100</setting>
    <setting id="LinkSnappyResolver_enabled">true</setting>
    <setting id="LinkSnappyResolver_login">true</setting>
    <setting id="LinkSnappyResolver_username" default="true" />
    <setting id="LinkSnappyResolver_password" default="true" />
    <setting id="LinkSnappyResolver_auth" default="true" />
    <setting id="LinkSnappyResolver_reset" default="true" />
    <setting id="LinkSnappyResolver_cached_files_only" default="true">false</setting>
    <setting id="LinkSnappyResolver_torrents">true</setting>
    <setting id="LinkSnappyResolver_cached_only">true</setting>
    <setting id="LinkSnappyResolver_expiration_timestamp" default="true" />
    <setting id="MegaDebridResolver_priority">100</setting>
    <setting id="MegaDebridResolver_enabled">true</setting>
    <setting id="MegaDebridResolver_use_https">true</setting>
    <setting id="MegaDebridResolver_login" default="true">false</setting>
    <setting id="MegaDebridResolver_username" default="true" />
    <setting id="MegaDebridResolver_password" default="true" />
    <setting id="PremiumizeMeResolver_priority">100</setting>
    <setting id="PremiumizeMeResolver_enabled">true</setting>
    <setting id="PremiumizeMeResolver_login">true</setting>
    <setting id="PremiumizeMeResolver_torrents">true</setting>
    <setting id="PremiumizeMeResolver_cached_only" default="true">false</setting>
    <setting id="PremiumizeMeResolver_clear_finished" default="true">false</setting>
    <setting id="PremiumizeMeResolver_auth" default="true" />
    <setting id="PremiumizeMeResolver_reset" default="true" />
    <setting id="PremiumizeMeResolver_token" default="true" />
    <setting id="RealDebridResolver_priority">100</setting>
    <setting id="RealDebridResolver_enabled">true</setting>
    <setting id="RealDebridResolver_login">true</setting>
    <setting id="RealDebridResolver_torrents">true</setting>
    <setting id="RealDebridResolver_cached_only" default="true">false</setting>
    <setting id="RealDebridResolver_autopick" default="true">false</setting>
    <setting id="RealDebridResolver_auth" default="true" />
    <setting id="RealDebridResolver_reset" default="true" />
    <setting id="RealDebridResolver_token" default="true" />
    <setting id="RealDebridResolver_refresh" default="true" />
    <setting id="RealDebridResolver_client_id" default="true" />
    <setting id="RealDebridResolver_client_secret" default="true" />
    <setting id="RPnetResolver_priority">100</setting>
    <setting id="RPnetResolver_enabled">true</setting>
    <setting id="RPnetResolver_login" default="true">false</setting>
    <setting id="RPnetResolver_username" default="true" />
    <setting id="RPnetResolver_password" default="true" />
    <setting id="SimplyDebridResolver_priority">100</setting>
    <setting id="SimplyDebridResolver_enabled">true</setting>
    <setting id="SimplyDebridResolver_login" default="true">false</setting>
    <setting id="SimplyDebridResolver_username" default="true" />
    <setting id="SimplyDebridResolver_password" default="true" />
    <setting id="SmoozedResolver_priority">100</setting>
    <setting id="SmoozedResolver_enabled">true</setting>
    <setting id="SmoozedResolver_login" default="true">false</setting>
    <setting id="SmoozedResolver_username" default="true" />
    <setting id="SmoozedResolver_password" default="true" />
    <setting id="SmoozedResolver_session_key" default="true" />
    <setting id="AdultSwimResolver_priority">100</setting>
    <setting id="AdultSwimResolver_enabled">true</setting>
    <setting id="AdultSwimResolver_login">true</setting>
    <setting id="AliezResolver_priority">100</setting>
    <setting id="AliezResolver_enabled">true</setting>
    <setting id="AliezResolver_login">true</setting>
    <setting id="AllViidResolver_priority">100</setting>
    <setting id="AllViidResolver_enabled">true</setting>
    <setting id="AllViidResolver_login">true</setting>
    <setting id="AmazonCloudResolver_priority">100</setting>
    <setting id="AmazonCloudResolver_enabled">true</setting>
    <setting id="AmazonCloudResolver_login">true</setting>
    <setting id="AnafastResolver_priority">100</setting>
    <setting id="AnafastResolver_enabled">true</setting>
    <setting id="AnafastResolver_login">true</setting>
    <setting id="AniStreamResolver_priority">100</setting>
    <setting id="AniStreamResolver_enabled">true</setting>
    <setting id="AniStreamResolver_login">true</setting>
    <setting id="AnonymFileResolver_priority">100</setting>
    <setting id="AnonymFileResolver_enabled">true</setting>
    <setting id="AnonymFileResolver_login">true</setting>
    <setting id="AparatResolver_priority">100</setting>
    <setting id="AparatResolver_enabled">true</setting>
    <setting id="AparatResolver_login">true</setting>
    <setting id="ArchiveResolver_priority">100</setting>
    <setting id="ArchiveResolver_enabled">true</setting>
    <setting id="ArchiveResolver_login">true</setting>
    <setting id="BannedVideoResolver_priority">100</setting>
    <setting id="BannedVideoResolver_enabled">true</setting>
    <setting id="BannedVideoResolver_login">true</setting>
    <setting id="BitchuteResolver_priority">100</setting>
    <setting id="BitchuteResolver_enabled">true</setting>
    <setting id="BitchuteResolver_login">true</setting>
    <setting id="BrBeastResolver_priority">100</setting>
    <setting id="BrBeastResolver_enabled">true</setting>
    <setting id="BrBeastResolver_login">true</setting>
    <setting id="BrighteonResolver_priority">100</setting>
    <setting id="BrighteonResolver_enabled">true</setting>
    <setting id="BrighteonResolver_login">true</setting>
    <setting id="BRPlayerResolver_priority">100</setting>
    <setting id="BRPlayerResolver_enabled">true</setting>
    <setting id="BRPlayerResolver_login">true</setting>
    <setting id="BRUploadResolver_priority">100</setting>
    <setting id="BRUploadResolver_enabled">true</setting>
    <setting id="BRUploadResolver_login">true</setting>
    <setting id="CastampResolver_priority">100</setting>
    <setting id="CastampResolver_enabled">true</setting>
    <setting id="CastampResolver_login">true</setting>
    <setting id="CdaResolver_priority">100</setting>
    <setting id="CdaResolver_enabled">true</setting>
    <setting id="CdaResolver_login">true</setting>
    <setting id="ChillXResolver_priority">100</setting>
    <setting id="ChillXResolver_enabled">true</setting>
    <setting id="ChillXResolver_login">true</setting>
    <setting id="ClickNUploadResolver_priority">100</setting>
    <setting id="ClickNUploadResolver_enabled">true</setting>
    <setting id="ClickNUploadResolver_login">true</setting>
    <setting id="ClipWatchingResolver_priority">100</setting>
    <setting id="ClipWatchingResolver_enabled">true</setting>
    <setting id="ClipWatchingResolver_login">true</setting>
    <setting id="CloudbResolver_priority">100</setting>
    <setting id="CloudbResolver_enabled">true</setting>
    <setting id="CloudbResolver_login">true</setting>
    <setting id="CloudMailRuResolver_priority">100</setting>
    <setting id="CloudMailRuResolver_enabled">true</setting>
    <setting id="CloudMailRuResolver_login">true</setting>
    <setting id="CloudVideoResolver_priority">100</setting>
    <setting id="CloudVideoResolver_enabled">true</setting>
    <setting id="CloudVideoResolver_login">true</setting>
    <setting id="CosTVResolver_priority">100</setting>
    <setting id="CosTVResolver_enabled">true</setting>
    <setting id="CosTVResolver_login">true</setting>
    <setting id="DailymotionResolver_priority">100</setting>
    <setting id="DailymotionResolver_enabled">true</setting>
    <setting id="DailymotionResolver_login">true</setting>
    <setting id="DaxabResolver_priority">100</setting>
    <setting id="DaxabResolver_enabled">true</setting>
    <setting id="DaxabResolver_login">true</setting>
    <setting id="DembedResolver_priority">100</setting>
    <setting id="DembedResolver_enabled">true</setting>
    <setting id="DembedResolver_login">true</setting>
    <setting id="DesiuploadResolver_priority">100</setting>
    <setting id="DesiuploadResolver_enabled">true</setting>
    <setting id="DesiuploadResolver_login">true</setting>
    <setting id="DoodStreamResolver_priority">100</setting>
    <setting id="DoodStreamResolver_enabled">true</setting>
    <setting id="DoodStreamResolver_login">true</setting>
    <setting id="DownAceResolver_priority">100</setting>
    <setting id="DownAceResolver_enabled">true</setting>
    <setting id="DownAceResolver_login">true</setting>
    <setting id="DrkVidResolver_priority">100</setting>
    <setting id="DrkVidResolver_enabled">true</setting>
    <setting id="DrkVidResolver_login">true</setting>
    <setting id="DropResolver_priority">100</setting>
    <setting id="DropResolver_enabled">true</setting>
    <setting id="DropResolver_login">true</setting>
    <setting id="DropLoadResolver_priority">100</setting>
    <setting id="DropLoadResolver_enabled">true</setting>
    <setting id="DropLoadResolver_login">true</setting>
    <setting id="DubokuResolver_priority">100</setting>
    <setting id="DubokuResolver_enabled">true</setting>
    <setting id="DubokuResolver_login">true</setting>
    <setting id="EmbedGramResolver_priority">100</setting>
    <setting id="EmbedGramResolver_enabled">true</setting>
    <setting id="EmbedGramResolver_login">true</setting>
    <setting id="EmbedRiseResolver_priority">100</setting>
    <setting id="EmbedRiseResolver_enabled">true</setting>
    <setting id="EmbedRiseResolver_login">true</setting>
    <setting id="EnterVideoResolver_priority">100</setting>
    <setting id="EnterVideoResolver_enabled">true</setting>
    <setting id="EnterVideoResolver_login">true</setting>
    <setting id="FacebookResolver_priority">100</setting>
    <setting id="FacebookResolver_enabled">true</setting>
    <setting id="FacebookResolver_login">true</setting>
    <setting id="FacebookResolver_quality" default="true">0</setting>
    <setting id="FastDriveResolver_priority">100</setting>
    <setting id="FastDriveResolver_enabled">true</setting>
    <setting id="FastDriveResolver_login">true</setting>
    <setting id="FastPlayResolver_priority">100</setting>
    <setting id="FastPlayResolver_enabled">true</setting>
    <setting id="FastPlayResolver_login">true</setting>
    <setting id="FastUploadResolver_priority">100</setting>
    <setting id="FastUploadResolver_enabled">true</setting>
    <setting id="FastUploadResolver_login">true</setting>
    <setting id="FileLionsResolver_priority">100</setting>
    <setting id="FileLionsResolver_enabled">true</setting>
    <setting id="FileLionsResolver_login">true</setting>
    <setting id="FileMoonResolver_priority">100</setting>
    <setting id="FileMoonResolver_enabled">true</setting>
    <setting id="FileMoonResolver_login">true</setting>
    <setting id="FilePupResolver_priority">100</setting>
    <setting id="FilePupResolver_enabled">true</setting>
    <setting id="FilePupResolver_login">true</setting>
    <setting id="FilerIoResolver_priority">100</setting>
    <setting id="FilerIoResolver_enabled">true</setting>
    <setting id="FilerIoResolver_login">true</setting>
    <setting id="FilesFMResolver_priority">100</setting>
    <setting id="FilesFMResolver_enabled">true</setting>
    <setting id="FilesFMResolver_login">true</setting>
    <setting id="FilesIMResolver_priority">100</setting>
    <setting id="FilesIMResolver_enabled">true</setting>
    <setting id="FilesIMResolver_login">true</setting>
    <setting id="FileUploadResolver_priority">100</setting>
    <setting id="FileUploadResolver_enabled">true</setting>
    <setting id="FileUploadResolver_login">true</setting>
    <setting id="FileVedResolver_priority">100</setting>
    <setting id="FileVedResolver_enabled">true</setting>
    <setting id="FileVedResolver_login">true</setting>
    <setting id="Film77Resolver_priority">100</setting>
    <setting id="Film77Resolver_enabled">true</setting>
    <setting id="Film77Resolver_login">true</setting>
    <setting id="FlashXResolver_priority">100</setting>
    <setting id="FlashXResolver_enabled">true</setting>
    <setting id="FlashXResolver_login">true</setting>
    <setting id="FreeDLResolver_priority">100</setting>
    <setting id="FreeDLResolver_enabled">true</setting>
    <setting id="FreeDLResolver_login">true</setting>
    <setting id="Full30Resolver_priority">100</setting>
    <setting id="Full30Resolver_enabled">true</setting>
    <setting id="Full30Resolver_login">true</setting>
    <setting id="GamoVideoResolver_priority">100</setting>
    <setting id="GamoVideoResolver_enabled">true</setting>
    <setting id="GamoVideoResolver_login">true</setting>
    <setting id="ResolveGeneric_priority">100</setting>
    <setting id="ResolveGeneric_enabled">true</setting>
    <setting id="ResolveGeneric_login">true</setting>
    <setting id="GoFileResolver_priority">100</setting>
    <setting id="GoFileResolver_enabled">true</setting>
    <setting id="GoFileResolver_login">true</setting>
    <setting id="GoloadResolver_priority">100</setting>
    <setting id="GoloadResolver_enabled">true</setting>
    <setting id="GoloadResolver_login">true</setting>
    <setting id="GomoPlayerResolver_priority">100</setting>
    <setting id="GomoPlayerResolver_enabled">true</setting>
    <setting id="GomoPlayerResolver_login">true</setting>
    <setting id="GoodStreamResolver_priority">100</setting>
    <setting id="GoodStreamResolver_enabled">true</setting>
    <setting id="GoodStreamResolver_login">true</setting>
    <setting id="GoogleResolver_priority">100</setting>
    <setting id="GoogleResolver_enabled">true</setting>
    <setting id="GoogleResolver_login">true</setting>
    <setting id="GoogleResolver_use_gdrive" default="true">false</setting>
    <setting id="GooStreamResolver_priority">100</setting>
    <setting id="GooStreamResolver_enabled">true</setting>
    <setting id="GooStreamResolver_login">true</setting>
    <setting id="GoStreamResolver_priority">100</setting>
    <setting id="GoStreamResolver_enabled">true</setting>
    <setting id="GoStreamResolver_login">true</setting>
    <setting id="GoVadResolver_priority">100</setting>
    <setting id="GoVadResolver_enabled">true</setting>
    <setting id="GoVadResolver_login">true</setting>
    <setting id="HDvidResolver_priority">100</setting>
    <setting id="HDvidResolver_enabled">true</setting>
    <setting id="HDvidResolver_login">true</setting>
    <setting id="HexUploadResolver_priority">100</setting>
    <setting id="HexUploadResolver_enabled">true</setting>
    <setting id="HexUploadResolver_login">true</setting>
    <setting id="HolaVidResolver_priority">100</setting>
    <setting id="HolaVidResolver_enabled">true</setting>
    <setting id="HolaVidResolver_login">true</setting>
    <setting id="HurryStreamResolver_priority">100</setting>
    <setting id="HurryStreamResolver_enabled">true</setting>
    <setting id="HurryStreamResolver_login">true</setting>
    <setting id="HXFileResolver_priority">100</setting>
    <setting id="HXFileResolver_enabled">true</setting>
    <setting id="HXFileResolver_login">true</setting>
    <setting id="IndaVideoResolver_priority">100</setting>
    <setting id="IndaVideoResolver_enabled">true</setting>
    <setting id="IndaVideoResolver_login">true</setting>
    <setting id="ItemFixResolver_priority">100</setting>
    <setting id="ItemFixResolver_enabled">true</setting>
    <setting id="ItemFixResolver_login">true</setting>
    <setting id="JustOKResolver_priority">100</setting>
    <setting id="JustOKResolver_enabled">true</setting>
    <setting id="JustOKResolver_login">true</setting>
    <setting id="KrakenFilesResolver_priority">100</setting>
    <setting id="KrakenFilesResolver_enabled">true</setting>
    <setting id="KrakenFilesResolver_login">true</setting>
    <setting id="KwikResolver_priority">100</setting>
    <setting id="KwikResolver_enabled">true</setting>
    <setting id="KwikResolver_login">true</setting>
    <setting id="LatestViewResolver_priority">100</setting>
    <setting id="LatestViewResolver_enabled">true</setting>
    <setting id="LatestViewResolver_login">true</setting>
    <setting id="LbryResolver_priority">100</setting>
    <setting id="LbryResolver_enabled">true</setting>
    <setting id="LbryResolver_login">true</setting>
    <setting id="LetsUploadResolver_priority">100</setting>
    <setting id="LetsUploadResolver_enabled">true</setting>
    <setting id="LetsUploadResolver_login">true</setting>
    <setting id="LewdHostResolver_priority">100</setting>
    <setting id="LewdHostResolver_enabled">true</setting>
    <setting id="LewdHostResolver_login">true</setting>
    <setting id="LiiVideoResolver_priority">100</setting>
    <setting id="LiiVideoResolver_enabled">true</setting>
    <setting id="LiiVideoResolver_login">true</setting>
    <setting id="LinkBoxResolver_priority">100</setting>
    <setting id="LinkBoxResolver_enabled">true</setting>
    <setting id="LinkBoxResolver_login">true</setting>
    <setting id="LuluStreamResolver_priority">100</setting>
    <setting id="LuluStreamResolver_enabled">true</setting>
    <setting id="LuluStreamResolver_login">true</setting>
    <setting id="MailRuResolver_priority">100</setting>
    <setting id="MailRuResolver_enabled">true</setting>
    <setting id="MailRuResolver_login">true</setting>
    <setting id="MaxStreamResolver_priority">100</setting>
    <setting id="MaxStreamResolver_enabled">true</setting>
    <setting id="MaxStreamResolver_login">true</setting>
    <setting id="MediaResolver_priority">100</setting>
    <setting id="MediaResolver_enabled">true</setting>
    <setting id="MediaResolver_login">true</setting>
    <setting id="MegaUpNetResolver_priority">100</setting>
    <setting id="MegaUpNetResolver_enabled">true</setting>
    <setting id="MegaUpNetResolver_login">true</setting>
    <setting id="MeGoGoResolver_priority">100</setting>
    <setting id="MeGoGoResolver_enabled">true</setting>
    <setting id="MeGoGoResolver_login">true</setting>
    <setting id="MightyUploadResolver_priority">100</setting>
    <setting id="MightyUploadResolver_enabled">true</setting>
    <setting id="MightyUploadResolver_login">true</setting>
    <setting id="MixDropResolver_priority">100</setting>
    <setting id="MixDropResolver_enabled">true</setting>
    <setting id="MixDropResolver_login">true</setting>
    <setting id="MP4UploadResolver_priority">100</setting>
    <setting id="MP4UploadResolver_enabled">true</setting>
    <setting id="MP4UploadResolver_login">true</setting>
    <setting id="MVidooResolver_priority">100</setting>
    <setting id="MVidooResolver_enabled">true</setting>
    <setting id="MVidooResolver_login">true</setting>
    <setting id="MyCloudResolver_priority">100</setting>
    <setting id="MyCloudResolver_enabled">true</setting>
    <setting id="MyCloudResolver_login">true</setting>
    <setting id="MyFeministResolver_priority">100</setting>
    <setting id="MyFeministResolver_enabled">true</setting>
    <setting id="MyFeministResolver_login">true</setting>
    <setting id="MyUpload_priority">100</setting>
    <setting id="MyUpload_enabled">true</setting>
    <setting id="MyUpload_login">true</setting>
    <setting id="NeoHDResolver_priority">100</setting>
    <setting id="NeoHDResolver_enabled">true</setting>
    <setting id="NeoHDResolver_login">true</setting>
    <setting id="NewTubeResolver_priority">100</setting>
    <setting id="NewTubeResolver_enabled">true</setting>
    <setting id="NewTubeResolver_login">true</setting>
    <setting id="OKResolver_priority">100</setting>
    <setting id="OKResolver_enabled">true</setting>
    <setting id="OKResolver_login">true</setting>
    <setting id="OneUploadResolver_priority">100</setting>
    <setting id="OneUploadResolver_enabled">true</setting>
    <setting id="OneUploadResolver_login">true</setting>
    <setting id="PandaFilesResolver_priority">100</setting>
    <setting id="PandaFilesResolver_enabled">true</setting>
    <setting id="PandaFilesResolver_login">true</setting>
    <setting id="PeerTubeResolver_priority">100</setting>
    <setting id="PeerTubeResolver_enabled">true</setting>
    <setting id="PeerTubeResolver_login">true</setting>
    <setting id="PixelDrainResolver_priority">100</setting>
    <setting id="PixelDrainResolver_enabled">true</setting>
    <setting id="PixelDrainResolver_login">true</setting>
    <setting id="PKSpeedResolver_priority">100</setting>
    <setting id="PKSpeedResolver_enabled">true</setting>
    <setting id="PKSpeedResolver_login">true</setting>
    <setting id="PlayHDResolver_priority">100</setting>
    <setting id="PlayHDResolver_enabled">true</setting>
    <setting id="PlayHDResolver_login">true</setting>
    <setting id="PlayWireResolver_priority">100</setting>
    <setting id="PlayWireResolver_enabled">true</setting>
    <setting id="PlayWireResolver_login">true</setting>
    <setting id="PreFilesResolver_priority">100</setting>
    <setting id="PreFilesResolver_enabled">true</setting>
    <setting id="PreFilesResolver_login">true</setting>
    <setting id="RacatyResolver_priority">100</setting>
    <setting id="RacatyResolver_enabled">true</setting>
    <setting id="RacatyResolver_login">true</setting>
    <setting id="RapidgatorResolver_priority">100</setting>
    <setting id="RapidgatorResolver_enabled">true</setting>
    <setting id="RapidgatorResolver_login" default="true">false</setting>
    <setting id="RapidgatorResolver_username" default="true" />
    <setting id="RapidgatorResolver_password" default="true" />
    <setting id="RapidgatorResolver_premium" default="true">false</setting>
    <setting id="RapidgatorResolver_session_id" default="true" />
    <setting id="ReviewRateResolver_priority">100</setting>
    <setting id="ReviewRateResolver_enabled">true</setting>
    <setting id="ReviewRateResolver_login">true</setting>
    <setting id="ReviewTechResolver_priority">100</setting>
    <setting id="ReviewTechResolver_enabled">true</setting>
    <setting id="ReviewTechResolver_login">true</setting>
    <setting id="RoVideoResolver_priority">100</setting>
    <setting id="RoVideoResolver_enabled">true</setting>
    <setting id="RoVideoResolver_login">true</setting>
    <setting id="RumbleResolver_priority">100</setting>
    <setting id="RumbleResolver_enabled">true</setting>
    <setting id="RumbleResolver_login">true</setting>
    <setting id="RuTubeResolver_priority">100</setting>
    <setting id="RuTubeResolver_enabled">true</setting>
    <setting id="RuTubeResolver_login">true</setting>
    <setting id="SapoResolver_priority">100</setting>
    <setting id="SapoResolver_enabled">true</setting>
    <setting id="SapoResolver_login">true</setting>
    <setting id="SaruchResolver_priority">100</setting>
    <setting id="SaruchResolver_enabled">true</setting>
    <setting id="SaruchResolver_login">true</setting>
    <setting id="SecVideoResolver_priority">100</setting>
    <setting id="SecVideoResolver_enabled">true</setting>
    <setting id="SecVideoResolver_login">true</setting>
    <setting id="SendResolver_priority">100</setting>
    <setting id="SendResolver_enabled">true</setting>
    <setting id="SendResolver_login">true</setting>
    <setting id="SendVidResolver_priority">100</setting>
    <setting id="SendVidResolver_enabled">true</setting>
    <setting id="SendVidResolver_login">true</setting>
    <setting id="SibnetResolver_priority">100</setting>
    <setting id="SibnetResolver_enabled">true</setting>
    <setting id="SibnetResolver_login">true</setting>
    <setting id="SolidFilesResolver_priority">100</setting>
    <setting id="SolidFilesResolver_enabled">true</setting>
    <setting id="SolidFilesResolver_login">true</setting>
    <setting id="SpeedoStreamResolver_priority">100</setting>
    <setting id="SpeedoStreamResolver_enabled">true</setting>
    <setting id="SpeedoStreamResolver_login">true</setting>
    <setting id="Streama2zResolver_priority">100</setting>
    <setting id="Streama2zResolver_enabled">true</setting>
    <setting id="Streama2zResolver_login">true</setting>
    <setting id="StreamableResolver_priority">100</setting>
    <setting id="StreamableResolver_enabled">true</setting>
    <setting id="StreamableResolver_login">true</setting>
    <setting id="StreamCommunityResolver_priority">100</setting>
    <setting id="StreamCommunityResolver_enabled">true</setting>
    <setting id="StreamCommunityResolver_login">true</setting>
    <setting id="StreamDavResolver_priority">100</setting>
    <setting id="StreamDavResolver_enabled">true</setting>
    <setting id="StreamDavResolver_login">true</setting>
    <setting id="StreamEmbedResolver_priority">100</setting>
    <setting id="StreamEmbedResolver_enabled">true</setting>
    <setting id="StreamEmbedResolver_login">true</setting>
    <setting id="StreamGzzzResolver_priority">100</setting>
    <setting id="StreamGzzzResolver_enabled">true</setting>
    <setting id="StreamGzzzResolver_login">true</setting>
    <setting id="StreamHubResolver_priority">100</setting>
    <setting id="StreamHubResolver_enabled">true</setting>
    <setting id="StreamHubResolver_login">true</setting>
    <setting id="StreamoUploadResolver_priority">100</setting>
    <setting id="StreamoUploadResolver_enabled">true</setting>
    <setting id="StreamoUploadResolver_login">true</setting>
    <setting id="StreamRapidResolver_priority">100</setting>
    <setting id="StreamRapidResolver_enabled">true</setting>
    <setting id="StreamRapidResolver_login">true</setting>
    <setting id="StreamRubyResolver_priority">100</setting>
    <setting id="StreamRubyResolver_enabled">true</setting>
    <setting id="StreamRubyResolver_login">true</setting>
    <setting id="StreamTapeResolver_priority">100</setting>
    <setting id="StreamTapeResolver_enabled">true</setting>
    <setting id="StreamTapeResolver_login">true</setting>
    <setting id="StreamVidResolver_priority">100</setting>
    <setting id="StreamVidResolver_enabled">true</setting>
    <setting id="StreamVidResolver_login">true</setting>
    <setting id="StreamVidsResolver_priority">100</setting>
    <setting id="StreamVidsResolver_enabled">true</setting>
    <setting id="StreamVidsResolver_login">true</setting>
    <setting id="StreamWishResolver_priority">100</setting>
    <setting id="StreamWishResolver_enabled">true</setting>
    <setting id="StreamWishResolver_login">true</setting>
    <setting id="SuperEmbedsResolver_priority">100</setting>
    <setting id="SuperEmbedsResolver_enabled">true</setting>
    <setting id="SuperEmbedsResolver_login">true</setting>
    <setting id="SuperITUResolver_priority">100</setting>
    <setting id="SuperITUResolver_enabled">true</setting>
    <setting id="SuperITUResolver_login">true</setting>
    <setting id="SuperVideoResolver_priority">100</setting>
    <setting id="SuperVideoResolver_enabled">true</setting>
    <setting id="SuperVideoResolver_login">true</setting>
    <setting id="TruHDResolver_priority">100</setting>
    <setting id="TruHDResolver_enabled">true</setting>
    <setting id="TruHDResolver_login">true</setting>
    <setting id="TubeLoadResolver_priority">100</setting>
    <setting id="TubeLoadResolver_enabled">true</setting>
    <setting id="TubeLoadResolver_login">true</setting>
    <setting id="TubiTvResolver_priority">100</setting>
    <setting id="TubiTvResolver_enabled">true</setting>
    <setting id="TubiTvResolver_login">true</setting>
    <setting id="TudouResolver_priority">100</setting>
    <setting id="TudouResolver_enabled">true</setting>
    <setting id="TudouResolver_login">true</setting>
    <setting id="TurboVIPlayResolver_priority">100</setting>
    <setting id="TurboVIPlayResolver_enabled">true</setting>
    <setting id="TurboVIPlayResolver_login">true</setting>
    <setting id="TusFilesResolver_priority">100</setting>
    <setting id="TusFilesResolver_enabled">true</setting>
    <setting id="TusFilesResolver_login">true</setting>
    <setting id="TVLogyResolver_priority">100</setting>
    <setting id="TVLogyResolver_enabled">true</setting>
    <setting id="TVLogyResolver_login">true</setting>
    <setting id="TwitchResolver_priority">100</setting>
    <setting id="TwitchResolver_enabled">true</setting>
    <setting id="TwitchResolver_login">true</setting>
    <setting id="TwitchResolver_client_id" default="true">am6l6dn0x3bxrdgc557p1qeg1ma3bto</setting>
    <setting id="UpBaamResolver_priority">100</setting>
    <setting id="UpBaamResolver_enabled">true</setting>
    <setting id="UpBaamResolver_login">true</setting>
    <setting id="UpDownResolver_priority">100</setting>
    <setting id="UpDownResolver_enabled">true</setting>
    <setting id="UpDownResolver_login">true</setting>
    <setting id="UploadBazResolver_priority">100</setting>
    <setting id="UploadBazResolver_enabled">true</setting>
    <setting id="UploadBazResolver_login">true</setting>
    <setting id="UploadDoResolver_priority">100</setting>
    <setting id="UploadDoResolver_enabled">true</setting>
    <setting id="UploadDoResolver_login">true</setting>
    <setting id="UploadEverResolver_priority">100</setting>
    <setting id="UploadEverResolver_enabled">true</setting>
    <setting id="UploadEverResolver_login">true</setting>
    <setting id="UploadFlixResolver_priority">100</setting>
    <setting id="UploadFlixResolver_enabled">true</setting>
    <setting id="UploadFlixResolver_login">true</setting>
    <setting id="UploadingSiteResolver_priority">100</setting>
    <setting id="UploadingSiteResolver_enabled">true</setting>
    <setting id="UploadingSiteResolver_login">true</setting>
    <setting id="UploadRajaResolver_priority">100</setting>
    <setting id="UploadRajaResolver_enabled">true</setting>
    <setting id="UploadRajaResolver_login">true</setting>
    <setting id="UppitResolver_priority">100</setting>
    <setting id="UppitResolver_enabled">true</setting>
    <setting id="UppitResolver_login">true</setting>
    <setting id="UpStreamResolver_priority">100</setting>
    <setting id="UpStreamResolver_enabled">true</setting>
    <setting id="UpStreamResolver_login">true</setting>
    <setting id="UpToBoxResolver_priority">100</setting>
    <setting id="UpToBoxResolver_enabled">true</setting>
    <setting id="UpToBoxResolver_login">true</setting>
    <setting id="UpToBoxResolver_premium" default="true">false</setting>
    <setting id="UpToBoxResolver_auth" default="true" />
    <setting id="UpToBoxResolver_reset" default="true" />
    <setting id="UpToBoxResolver_token" default="true" />
    <setting id="UptoMegaResolver_priority">100</setting>
    <setting id="UptoMegaResolver_enabled">true</setting>
    <setting id="UptoMegaResolver_login">true</setting>
    <setting id="UpVidResolver_priority">100</setting>
    <setting id="UpVidResolver_enabled">true</setting>
    <setting id="UpVidResolver_login">true</setting>
    <setting id="UpVideoResolver_priority">100</setting>
    <setting id="UpVideoResolver_enabled">true</setting>
    <setting id="UpVideoResolver_login">true</setting>
    <setting id="UQLoadResolver_priority">100</setting>
    <setting id="UQLoadResolver_enabled">true</setting>
    <setting id="UQLoadResolver_login">true</setting>
    <setting id="UserLoadResolver_priority">100</setting>
    <setting id="UserLoadResolver_enabled">true</setting>
    <setting id="UserLoadResolver_login">true</setting>
    <setting id="UsersCloudResolver_priority">100</setting>
    <setting id="UsersCloudResolver_enabled">true</setting>
    <setting id="UsersCloudResolver_login">true</setting>
    <setting id="VeeHDResolver_priority">100</setting>
    <setting id="VeeHDResolver_enabled">true</setting>
    <setting id="VeeHDResolver_login" default="true">false</setting>
    <setting id="VeeHDResolver_username" default="true" />
    <setting id="VeeHDResolver_password" default="true" />
    <setting id="VeevResolver_priority">100</setting>
    <setting id="VeevResolver_enabled">true</setting>
    <setting id="VeevResolver_login">true</setting>
    <setting id="VemBXResolver_priority">100</setting>
    <setting id="VemBXResolver_enabled">true</setting>
    <setting id="VemBXResolver_login">true</setting>
    <setting id="VeohResolver_priority">100</setting>
    <setting id="VeohResolver_enabled">true</setting>
    <setting id="VeohResolver_login">true</setting>
    <setting id="VidBobResolver_priority">100</setting>
    <setting id="VidBobResolver_enabled">true</setting>
    <setting id="VidBobResolver_login">true</setting>
    <setting id="VidBomResolver_priority">100</setting>
    <setting id="VidBomResolver_enabled">true</setting>
    <setting id="VidBomResolver_login">true</setting>
    <setting id="VidCloudResolver_priority">100</setting>
    <setting id="VidCloudResolver_enabled">true</setting>
    <setting id="VidCloudResolver_login">true</setting>
    <setting id="VidCloud9Resolver_priority">100</setting>
    <setting id="VidCloud9Resolver_enabled">true</setting>
    <setting id="VidCloud9Resolver_login">true</setting>
    <setting id="VideaResolver_priority">100</setting>
    <setting id="VideaResolver_enabled">true</setting>
    <setting id="VideaResolver_login">true</setting>
    <setting id="VidelloResolver_priority">100</setting>
    <setting id="VidelloResolver_enabled">true</setting>
    <setting id="VidelloResolver_login">true</setting>
    <setting id="VideoApneResolver_priority">100</setting>
    <setting id="VideoApneResolver_enabled">true</setting>
    <setting id="VideoApneResolver_login">true</setting>
    <setting id="VideoBinResolver_priority">100</setting>
    <setting id="VideoBinResolver_enabled">true</setting>
    <setting id="VideoBinResolver_login">true</setting>
    <setting id="VideoooResolver_priority">100</setting>
    <setting id="VideoooResolver_enabled">true</setting>
    <setting id="VideoooResolver_login">true</setting>
    <setting id="VideoSeyredResolver_priority">100</setting>
    <setting id="VideoSeyredResolver_enabled">true</setting>
    <setting id="VideoSeyredResolver_login">true</setting>
    <setting id="VideoWoodResolver_priority">100</setting>
    <setting id="VideoWoodResolver_enabled">true</setting>
    <setting id="VideoWoodResolver_login">true</setting>
    <setting id="VideoZooResolver_priority">100</setting>
    <setting id="VideoZooResolver_enabled">true</setting>
    <setting id="VideoZooResolver_login">true</setting>
    <setting id="VidFastResolver_priority">100</setting>
    <setting id="VidFastResolver_enabled">true</setting>
    <setting id="VidFastResolver_login">true</setting>
    <setting id="VidGuardResolver_priority">100</setting>
    <setting id="VidGuardResolver_enabled">true</setting>
    <setting id="VidGuardResolver_login">true</setting>
    <setting id="VidHDResolver_priority">100</setting>
    <setting id="VidHDResolver_enabled">true</setting>
    <setting id="VidHDResolver_login">true</setting>
    <setting id="VidHideProResolver_priority">100</setting>
    <setting id="VidHideProResolver_enabled">true</setting>
    <setting id="VidHideProResolver_login">true</setting>
    <setting id="VidLookResolver_priority">100</setting>
    <setting id="VidLookResolver_enabled">true</setting>
    <setting id="VidLookResolver_login">true</setting>
    <setting id="VidMojoResolver_priority">100</setting>
    <setting id="VidMojoResolver_enabled">true</setting>
    <setting id="VidMojoResolver_login">true</setting>
    <setting id="VidMolyResolver_priority">100</setting>
    <setting id="VidMolyResolver_enabled">true</setting>
    <setting id="VidMolyResolver_login">true</setting>
    <setting id="VidMXResolver_priority">100</setting>
    <setting id="VidMXResolver_enabled">true</setting>
    <setting id="VidMXResolver_login">true</setting>
    <setting id="VidoResolver_priority">100</setting>
    <setting id="VidoResolver_enabled">true</setting>
    <setting id="VidoResolver_login">true</setting>
    <setting id="VidOrgResolver_priority">100</setting>
    <setting id="VidOrgResolver_enabled">true</setting>
    <setting id="VidOrgResolver_login">true</setting>
    <setting id="VidozaResolver_priority">100</setting>
    <setting id="VidozaResolver_enabled">true</setting>
    <setting id="VidozaResolver_login">true</setting>
    <setting id="VidProResolver_priority">100</setting>
    <setting id="VidProResolver_enabled">true</setting>
    <setting id="VidProResolver_login">true</setting>
    <setting id="VidSpeedResolver_priority">100</setting>
    <setting id="VidSpeedResolver_enabled">true</setting>
    <setting id="VidSpeedResolver_login">true</setting>
    <setting id="VidStoreResolver_priority">100</setting>
    <setting id="VidStoreResolver_enabled">true</setting>
    <setting id="VidStoreResolver_login">true</setting>
    <setting id="VidTubeResolver_priority">100</setting>
    <setting id="VidTubeResolver_enabled">true</setting>
    <setting id="VidTubeResolver_login">true</setting>
    <setting id="VidzStoreResolver_priority">100</setting>
    <setting id="VidzStoreResolver_enabled">true</setting>
    <setting id="VidzStoreResolver_login">true</setting>
    <setting id="VimeoResolver_priority">100</setting>
    <setting id="VimeoResolver_enabled">true</setting>
    <setting id="VimeoResolver_login">true</setting>
    <setting id="VipSSResolver_priority">100</setting>
    <setting id="VipSSResolver_enabled">true</setting>
    <setting id="VipSSResolver_login">true</setting>
    <setting id="VKResolver_priority">100</setting>
    <setting id="VKResolver_enabled">true</setting>
    <setting id="VKResolver_login">true</setting>
    <setting id="VKPrimeResolver_priority">100</setting>
    <setting id="VKPrimeResolver_enabled">true</setting>
    <setting id="VKPrimeResolver_login">true</setting>
    <setting id="VKSpeedResolver_priority">100</setting>
    <setting id="VKSpeedResolver_enabled">true</setting>
    <setting id="VKSpeedResolver_login">true</setting>
    <setting id="VlalaComResolver_priority">100</setting>
    <setting id="VlalaComResolver_enabled">true</setting>
    <setting id="VlalaComResolver_login">true</setting>
    <setting id="VlalaNetResolver_priority">100</setting>
    <setting id="VlalaNetResolver_enabled">true</setting>
    <setting id="VlalaNetResolver_login">true</setting>
    <setting id="VoeResolver_priority">100</setting>
    <setting id="VoeResolver_enabled">true</setting>
    <setting id="VoeResolver_login">true</setting>
    <setting id="VoxzerResolver_priority">100</setting>
    <setting id="VoxzerResolver_enabled">true</setting>
    <setting id="VoxzerResolver_login">true</setting>
    <setting id="VShareResolver_priority">100</setting>
    <setting id="VShareResolver_enabled">true</setting>
    <setting id="VShareResolver_login">true</setting>
    <setting id="VTubeResolver_priority">100</setting>
    <setting id="VTubeResolver_enabled">true</setting>
    <setting id="VTubeResolver_login">true</setting>
    <setting id="VudeoResolver_priority">100</setting>
    <setting id="VudeoResolver_enabled">true</setting>
    <setting id="VudeoResolver_login">true</setting>
    <setting id="WaawResolver_priority">100</setting>
    <setting id="WaawResolver_enabled">true</setting>
    <setting id="WaawResolver_login">true</setting>
    <setting id="WorldUploadsResolver_priority">100</setting>
    <setting id="WorldUploadsResolver_enabled">true</setting>
    <setting id="WorldUploadsResolver_login">true</setting>
    <setting id="YandexResolver_priority">100</setting>
    <setting id="YandexResolver_enabled">true</setting>
    <setting id="YandexResolver_login">true</setting>
    <setting id="YouDBoxResolver_priority">100</setting>
    <setting id="YouDBoxResolver_enabled">true</setting>
    <setting id="YouDBoxResolver_login">true</setting>
    <setting id="YourUploadResolver_priority">100</setting>
    <setting id="YourUploadResolver_enabled">true</setting>
    <setting id="YourUploadResolver_login">true</setting>
    <setting id="YouTubeResolver_priority">100</setting>
    <setting id="YouTubeResolver_enabled">true</setting>
    <setting id="YouTubeResolver_login">true</setting>
    <setting id="ZPlayerResolver_priority">100</setting>
    <setting id="ZPlayerResolver_enabled">true</setting>
    <setting id="ZPlayerResolver_login">true</setting>
    <setting id="ZtreamHubResolver_priority">100</setting>
    <setting id="ZtreamHubResolver_enabled">true</setting>
    <setting id="ZtreamHubResolver_login">true</setting>
</settings>
